<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>528396478451-0bbvjc2i7cmb1lplqa3guertdklinq2f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.528396478451-0bbvjc2i7cmb1lplqa3guertdklinq2f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>528396478451-hvd4splq411koc0sgkfcdk6hjvfkn8qh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC_f_LanEM7t5AOcu4zoEY5M2nWdnp8W6k</string>
	<key>GCM_SENDER_ID</key>
	<string>528396478451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.companionAppNihar</string>
	<key>PROJECT_ID</key>
	<string>companion-app-test-a5c5f</string>
	<key>STORAGE_BUCKET</key>
	<string>companion-app-test-a5c5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:528396478451:ios:0bd1a600fb947f1627d486</string>
</dict>
</plist>